Source: ros-indigo-openni-launch
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin, ros-indigo-roslaunch
Homepage: http://www.ros.org/wiki/openni_launch
Standards-Version: 3.9.2

Package: ros-indigo-openni-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-nodelet, ros-indigo-openni-camera, ros-indigo-rgbd-launch
Description: Launch files to open an OpenNI device and load all nodelets to convert raw depth/RGB/IR streams to depth images, disparity images, and (registered) point clouds.
